<header id="header" class="hero">
  <!--diseño orde-->
  <nav>
    <ul class="container-menu">
      <li class="li-menu">
        <a class="link-color" href="https//:google.es">Productos</a>
      </li>
      <li class="li-menu">
        <a class="link-color" href="https//:google.es">Colecciones</a>
      </li>
      <li class="li-menu">
        <a class="link-color" href="https//:google.es">Tienda</a>
      </li>
      <li class="li-menu">
        <a class="link-color" href="https//:google.es">Inicio</a>
      </li>
    </ul>
  </nav>

  <!--diseño orde-->
  <nav class="menu-burguer">
    <a class="menu-burguer" href="https://adalab.es"
      ><i class="fa-solid fa-bars"></i
    ></a>
  </nav>
  <div class="container">
    <img class="image-logo" src="./assets/images/logo.png" alt="logo web" />
    <div class="sub-container">
      <h1 class="title-h1">
        disfruta creando <span class="span">espacios</span>
      </h1>
      <button class="button">Comprar ahora</button>
    </div>
  </div>
</header>
