<section class="section-1">
  <h2 class="title2">volverse organizado se siente mejor con open spaces</h2>
  <ul>
    <li>
      <img src="./assets/images/icon_1.png" alt="icono mesa" />
      <div>
        <h3>lo que necesitas</h3>
        <p>una linea de productos diseñados para todos tus espacios</p>
      </div>
    </li>

    <li>
      <img src="./assets/images/icon_2.png" alt="icono sostenible" />
      <div>
        <h3>materias primas sustentables</h3>
        <p>todos los productos con materias primas sustentables</p>
      </div>
    </li>

    <li>
      <img src="./assets/images/icon_3.png" alt="icono guía" />
      <div>
        <h3>guía</h3>
        <p>soporte y asesoramiento para ayudarte con tu objetivo</p>
      </div>
    </li>
  </ul>
</section>
