<section class="section-1">
  <div class="title2">volverse organizado se siente mejor con open spaces</div>

  <div class="box-1">
    <img class="image-mesa" src="./assets/images/icon_1.png" alt="icono mesa" />
    <div>
      <h3 class="title-h3">lo que necesitas</h3>
      <p>una linea de productos diseñados para todos tus espacios</p>
    </div>
  </div>

  <div class="box-2">
    <img
      class="image-f"
      src="./assets/images/icon_2.png"
      alt="icono sostenible"
    />
    <div class="box-3">
      <h3>materias primas sustentables</h3>
      <p>todos los productos con materias primas sustentables</p>
    </div>
  </div>

  <div class="box-4">
    <img src="./assets/images/icon_3.png" alt="icono guía" />
    <div>
      <h3>guía</h3>
      <p>soporte y asesoramiento para ayudarte con tu objetivo</p>
    </div>
  </div>
</section>
