<section class="section-1">
  <div class="title2">
    <h2>
      volverse organizado se siente mejor con
      <span class="openspaces">open spaces</span>
    </h2>
  </div>
  <div class="grid-container">
    <div class="left-margin"></div>
    <div class="box">
      <img
        class="image-mesa"
        src="./assets/images/icon_1.png"
        alt="icono mesa"
      />
      <div>
        <h3 class="title-h3">lo que necesitas</h3>
        <p class="section-description">
          una linea de productos diseñados para todos tus espacios
        </p>
      </div>
    </div>

    <div class="box box-middle">
      <img
        class="image-f"
        src="./assets/images/icon_2.png"
        alt="icono sostenible"
      />
      <h3 class="title-h3">materias primas sustentables</h3>
      <p class="section-description">
        todos los productos con materias primas sustentables
      </p>
    </div>

    <div class="box">
      <img
        class="image-guia"
        src="./assets/images/icon_3.png"
        alt="icono guía"
      />
      <div>
        <h3 class="title-h3">guía</h3>
        <p class="section-description">
          soporte y asesoramiento para ayudarte con tu objetivo
        </p>
      </div>
    </div>
    <div class="right-margin"></div>
  </div>
</section>
