.footer {
  background-color: #0c474b;

  color: #b6c8c9;
  font-family: var(--font-family);
  padding: 56px 0;

  .section-footer {
    display: flex;
    flex-basis: fit-content;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    padding-left: 146px;

    .title-footer {
      margin: 0;
      line-height: 37px;
    }
    .nav {
      display: flex;
      /* flex-grow: inherit; */
      flex-basis: fit-content;
      flex-direction: column;
      align-self: flex-start;
      align-items: center;
      &__item {
        list-style: none;
        padding: 0%;
        color: #b6c8c9;

        ul {
          width: 208px;
          text-align: left;
        }
      }
      .link {
        text-decoration: none;
        color: #b6c8c9;
        font-size: 14px;
      }
    }
  }
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  color: white;
}
.mail {
  margin: 0px;
}
.p-parthners {
  margin: 0px;
}
.ig {
  padding: 0 10px 0 10px;
  color: white;
}
.li {
  color: white;
}
.tw {
  color: white;
}
.arrow {
  color: white;
  display: flex;
  text-decoration: none;
  justify-content: flex-end;
  padding-right: 24px;
  padding-top: 16px;
}

/*Animación*/
.arrow {
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-name: colors;
}
@keyframes colors {
  from {
    color: white;
  }
  25% {
    color: blueviolet;
  }
  50% {
    color: red;
  }
  75% {
    color: yellow;
  }
  to {
    color: black;
  }
}

@media all and (min-width: 768px) {
  .footer {
    display: flex;
    padding: 71px 0 74px 118px;
    justify-content: space-between;
    .section-footer {
      display: flex;
      flex-direction: row;
      padding-left: 0;
    }
    .arrow {
      padding: 101px 57px 89px 15px;
    }
    .icons {
      margin-top: 0;
    }
  }
}
// .section-footer {
//   padding-left: 47px;
// }

@media all and (min-width: 1200px) {
}
