.footer {
  background-color: #0c474b;
  display: flex;
  flex-direction: column;

  align-items: center;
  color: #b6c8c9;
  font-family: var(--font-family);
}
.nav {
  &__item {
    list-style: none;
    padding: 0%;
    color: #b6c8c9;
  }
  .link {
    text-decoration: none;
    color: #b6c8c9;
    font-size: 14px;
  }
}
.section-social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 84px;
  color: #b6c8c9;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: -65px;
  margin-top: 35px;
  color: white;
}
.mail {
  margin: 0px;
}
.p-parthners {
  margin: 0px;
}
.ig {
  padding: 0 10px 0 10px;
  color: white;
}
.li {
  color: white;
}
.tw {
  color: white;
}
.arrow {
  color: white;
  font-size: 20px;
  display: flex;
  text-decoration: none;
  margin-left: 350px;
  padding-bottom: 60px;
  padding-top: 30px;
}
