.hero {
  background-image: url("../images/header.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-logo {
  width: 213px;
  height: 96px;
  margin-top: 19px;
}
.button {
  background-color: #0c474b;
  color: white;
  font-family: var(--font-family);
  font-size: 16px;
  padding: 12px 24px;
  border-color: transparent;
}
.button:hover {
  background-color: aquamarine;
  color: black;
}

.menu-burguer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 55px;
  left: 33px;
  text-decoration: none;
  color: #0c474b;
  width: 18px;
  height: 12px;
}
.container-menu {
  display: none;
}
.title-h1 {
  font-family: var(--font-family);
  color: #0c474b;
  font-size: 24px;
  text-transform: capitalize;
  margin-bottom: 24px;
  margin-top: 100px;
}
.sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media all and (min-width: 768px) {
  .sub-container {
    margin-left: -250px;
    margin-top: 180px;
  }
  .span {
    display: block;
  }
  .hero {
    background-position: center;
  }
  .button {
    margin-left: -35px;
  }
}
@media all and (min-width: 1200px) {
  .container-menu {
    list-style: none;
    display: inline-flex;
    justify-content: flex-end;
    margin-right: 200px;
    position: fixed;
    padding-right: 10px;
    margin: 0px 0px 0px 280px;
    font-size: 16px;
    color: #0c474b;
    padding-top: 76px;
  }

  .image-logo {
    margin-right: -400px;
  }

  .title-h1 {
    font-size: 36px;
  }

  .button {
    margin-left: -135px;
  }

  .link-color {
    list-style: none;
    margin-right: 20px;
    color: #0c474b;
    text-decoration: none;
    font-family: var(--font-family);
    display: inline-block;
  }
  .link-color:hover {
    background-color: rgb(236, 206, 206);
    color: rgb(245, 60, 60);
    transform: scale(2);
  }
  .menu-burguer {
    display: none;
  }
}
