.section-orange {
  background-color: #ff975a;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.free {
  font-family: var(--font-family);
  color: white;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-top: 10px;
}
.free:first-letter {
  text-transform: uppercase;
}
.send {
  font-size: 14px;
  font-family: var(--font-family);
  color: white;
}
.link {
  margin-bottom: 63 px;
  color: white;
}
.furgo {
  width: 112px;
  height: 98px;
  margin-top: 60px;
}
.nav-orange {
  margin-bottom: 63px;
}
